<h1 class="mb-5 mt-3 text-center">Orders</h1>
<div class="row justify-content-center">
  <div class="col-10">
<table class="table table-striped table-md-responsive"  aria-role="table">
      <thead>  
          <th scope="col">#</th>
          <th scope="col">Placed</th>
          <th scope="col">By</th>
          <th scope="col">PaymentMethod</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
      </thead>
      <tbody>
          <tr *ngFor="let order of orders" >
              <th scope="row">{{ order?.id }}</th>
              <td >{{ order?.created }}</td>
              <td >{{ order?.createdBy }}</td>
              <td >{{ order?.paymentMethod }}</td>
              <td >{{ order?.totalPrice }}</td>
              <td ><button (click)="deleteOrder(order)">Delete</button></td>
          </tr> 
      </tbody>
    </table>
  </div>
</div>
  
