table {
    color: #fff;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}

.table td{
    border: none;
}
.table th{
    border: none;

}



button {
    background:lightcoral;
    color: white;
    padding: .25rem .5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.15)
}

@media screen and (max-width: 575px) {
    .table-xs-responsive th, .table-xs-responsive td {
        width: 100% !important;
        display: block !important;
        box-sizing:border-box;
        
    }
    
    }
    
    @media screen and (max-width: 767px) {
    .table.table-sm-responsive th, .table.table-sm-responsive td {
        width: 100% !important;
        display: block !important;
        box-sizing:border-box;
    }
    }
    
    @media screen and (max-width: 992px) {
    .table.table-md-responsive th, .table.table-md-responsive td {
        width: 100% !important;
        display: block !important;
        box-sizing:border-box;
    }

    
    }
    
    @media screen and (max-width: 1200px) {
    .table.table-sm-responsive th, .table.table-sm-responsive td {
        width: 100% !important;
        display: block !important;
        box-sizing:border-box;
    }

    
    }
    

    @media screen and (min-width: 992px) {
        td,th {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
          }
          
          td:first-child {
            padding-left:20px;
            padding-right:0;
          }
    
        }
    

 