<div class="card mb-4">
  <a [routerLink]="['/details', movie.id]" routerLinkActive=”active”>
    <img class="card-img-top" src="{{movie.imageUrl}}" alt="Card image cap">
  </a>
  <div class="card-body">
    <h2 class="card-title mb-4 text-center">{{movie.name}}</h2>
    <div class="lower-card-info text-center d-md-flex justify-content-between align-items-baseline">
      <p class="movie-price">{{movie.price}} ;-</p>
      <button (click)="addToCart(movie)" class="btn-add">Buy</button>
    </div>
  </div>
</div>
