@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
html,body {
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.hero {
    position: fixed;
    width: 100%;
    min-height: 480px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -1;

}

.background-sky {
    background: #434343; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #313131, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #313131, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}