.masthead {
  margin-top: 25vh;

  .btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: #4CAF50;
    color: #fff;
  }

  #welcome-text {
    animation-delay: .5s;
    animation-duration: 2s;
  }

  #start-browsing-button {
    animation-delay: 1.5s;
    animation-duration: 2s;
  }
}
