img {
    max-height: 600px;
}

.movie-desc{
    font-size: 0.7em;
}

button {
    background: #4CAF50;
    color:white;
    padding: 1rem 2rem;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1rem;
 

}

@media screen and (min-width: 768px) {
 
    button {
        position: absolute;
        bottom: 0;
    }

    .movie-desc{
        font-size: 1em;
    }
  
   }